<!DOCTYPE html>
<html>
    <header>
        <Title>Ryugaku Skater</Title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </header>
    <body>
        
        <div class="ui fixed inverted purple menu">
            <div class="ui container">
                <div class="header item"><i class="plane icon"></i><strong>Ryugaku Skater</strong></div>
                <a href="/" class="item">Home</a>
                <a href="/newblog" class="item">New Blog</a>
                <a href="/archive" class="item">Archive</a>
            </div>
        </div>
        
        
